<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Email Classifier</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="">
</head>

<body style="background-color:rgb(228, 226, 226) ;">
    <nav class="navbar" , style="background-color: #a09d9d;">
        <h1 class="navbar-brand; text-white">Spam Detector</h1>
        <ul class="nav navbar-nav">
        <li><a href="/" class="btn btn-danger">Home</a></li>     
        </ul>
    </nav>

    <!-- books container -->
    <div class="container">
        <div class="row">
            <div class="m-3 col-md-12">
                <h1>Email Classification</h1>
            </div>
            <div class="container">
                <div class="m-2 shadow-lg p-4 mb-4 bg-white card">
                    <form method="post", action="/predict">
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Email Box</label>
                            <textarea class="form-control"                           name="text_input" id="exampleFormControlTextarea1" rows="8" ></textarea>
                        </div> 
                        <!-- FOR SENDING DATA TO APP.PY  -->
                            <div class="col-md-12 form-group" >
                                <button class="btn btn-primary form-control"> predict
                                </button>
                            </div>                   
                    </form> 
                    <!-- let's make prediction space whenever i hit button this will show here -->
                    <!-- <div class="col-md-12" ,style="text-align:center ;">
                        <h3><span id="predict"></span></h3>
                    </div> -->
                </div>
                
            </div>
        </div>
    </div>

</body>

</html>