<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rectify your mistaks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="">
</head>
<body>
    <nav class="navbar" , style="background-color: #a09d9d;">
        <h1 class="navbar-brand; text-white">Spam Detector</h1>
        <ul class="nav navbar-nav">
            <li><a href="/" class="btn btn-danger">home</a></li>
        </ul>
    </nav>
    <main>

        <div class="card col-12 text-center mx-auto "> 
            <div class="card-header">
                <h1><strong>your Email:</strong></h1>
            </div>
            <h1>
                <strong>
                        <div class="p-3 mb-2 bg-dark text-white text-center">
                            {{prediction}} 
                        </div>
                </strong>
            </h1>
        </div>
    </main>
</body>